{% load static %}
<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
  
    <title> Matrusri Home Page </title>
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    <style>
      /* Override Bootstrap dropdown menu background color */
      /* .dropdown-menu {
        background-color: transparent !important; Set your desired background color or 'transparent'} */

        .dropdown .dropdown-menu a:hover {
        background-color: #08135c; /* Set your desired highlight color */
        color: #ffffff; /* Set the text color for better visibility */
        border: 1px solid #fff;  }

.custom-box-size {
  max-width: 900px;/* Center the table within the container */
}

.custom-box-table-size {
  max-width: 1300px;/* Center the table within the container */
}

.custom-scrollbar-container {
  max-height: 900px; /* Set your desired maximum height */
  overflow-y: auto; /* Enable vertical scrollbar when content exceeds the max height */
}


     
    </style>
   
  
    <!-- fonts style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  
    <!-- font awesome style -->
    <link href="{% static 'font-awesome.min.css' %}" rel="stylesheet" />
    <!-- nice select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  
    <!-- Custom styles for this template -->
    <link href="{% static 'style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'responsive.css' %}" rel="stylesheet" />
  
  </head>
    <body>

        <div class="hero_area custom-scrollbar-container">
            <!-- header section strats -->
            <header class="header_section">
              <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                  <a class="navbar-brand" href="">
                    <span>
                      Matrusri Engineering College
                    </span>
                  </a>
        
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                  </button>
        
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav  ml-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="/index">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/about"> About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/job">Courses</a>
                      </li>

                    {% if request.user.is_authenticated %}
                    
                    <ul class="navbar-nav"> <!-- Use ms-auto here for right alignment -->

                      <li class="nav-item">
                          <a href="/perform_action/?action=report" class="nav-link btn" type="button"> REPORT CARD </a>
                      </li>
                      </ul>

                            
                   
                    
                    {% block extra_nav %}{% endblock %}
                    
    
                    <ul class="navbar-nav ms-auto"> <!-- Use ms-auto here for right alignment -->
                        <li class="nav-item">
                            <a href="/logout/" class="nav-link btn" type="button">Logout</a>
                        </li>
                        </ul>
                        
                    {% else %}
                   
                    
                      <li class="nav-item">
                        <a class="nav-link" href="/login2">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          <span>
                            Login
                          </span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/register2">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          <span>
                            Sign Up
                          </span>
                        </a>
                      </li>
                      
                    </ul>
                  </div>


                  {% endif %}



                </nav>
              </div>
            </header>
            <!-- end header section -->

   
                
                  {% block start %}

        {% endblock%}
                
              </div>
            </div>
          </div>
  
          </div>
        </div>
      </section>

                
                </div>
            </div>
        </nav>
        
        
        
        
        
        

        

        <script src="{% static 'js/jquery-3.4.1.min.js' %}">
        </script>
        <!-- bootstrap js -->
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <!-- nice select -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
        <!-- custom js -->
        <script src="{% static 'js/custom.js' %}"></script>

        </body>
        </html>

 