{% extends "base2.html" %}
{% load static %}
{% block start %}
<body style="overflow: hidden;">
  <!-- Your page content goes here -->
</body>

<div class="container mt-3">
    <form class="col-md-8 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <h1> <center> RESET PASSWORD </center></h1>
<br>
        <form>
          <div class="row mb-3">
            <div class="col-md-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              </div>
              <div class="col-md-8">
              <input type="text" class="form-control" id="exampleInputEmail1" name="username">
            </div></div>

            <div class="row mb-3">
            <div class="col-md-3">
              <label for="exampleInputPassword1" class="form-label">Enter New Password</label>
            </div>
            <div class="col-md-8">
              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div></div>
            
            
            <center><button type="submit" class="btn btn-primary">Submit</button></center>
            
          </form>
</div>
{% endblock %}